* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  font-size: 36px;
  line-height: 1.7;
  color: white;
}

.header {
  height: 66vh;
  background-image: url(img/Maple\ Hero.jpg);
  background-size: cover;
  background-position: top;
}

.nav {
  height: 0.14;
  min-height: 40px;
  background-color: #333333;
  opacity: 0.66;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  font-size: 24px;
}

.user-nav__link {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.user-nav__link:hover {
  background-color: rgb(26, 26, 26);
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-right: 3rem;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.ham-nav {
  display: none;
}

@media only screen and (max-width: 1050px) {
  body {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
  }

  .user-nav {
    font-size: 24px;
  }

  .user-nav__link {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 915px) {
  body {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7;
  }

  .user-nav {
    font-size: 16px;
  }

  .user-nav__link {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 685px) {
  .user-nav {
    display: none;
  }

  .user-nav__link {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  .ham-nav {
    position: fixed;
    top: 0;
    right: -30px;
    margin-top: 60px;
    margin-right: 0px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.00;
    pointer-events: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .ham-nav.open {
    transition: all .5s ease-in-out;
    opacity: 100.00;
    pointer-events: all;
    transform: translateX(-50px);
  }

  .ham-nav__link {
    transition: all .5s ease-in-out;
  }

  .ham-nav::before,
  .ham-nav::after {
    transition: all .5s ease-in-out;
  }

  .ham-nav.open .ham-nav__link {
    transition: all .5s ease-in-out;
  }

  .ham-nav.open .ham-nav__link::before {
    transition: all .5s ease-in-out;
  }

  .ham-nav.open .ham-nav__link::after {
    transition: all .5s ease-in-out;
  }
}